.idea
*.iml
target
work
.parcel-cache
dist
node_modules
*.styles.ts
node
npm-debug.log
package-lock.json

yarn-error.log
/test-results/
/playwright-report/
/playwright/.cache/

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.wireit

*.map
*.d.ts
*.styles.ts